@charset "UTF-8";
/*<МИКСИНЫ>======================================================================================================================================================================================================*/
/*<Подключаем шрифты>==============================================================================================================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet');
/*<Шрифт по умолчанию>=================================================================================================================================================================================================*/
/*<ПЕРЕМЕННЫЕ>==================================================================================================================================================================================================================*/
/*<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>======================================================================================================================================================================================================*/
/*Обнуление*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Poppins", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*--------------------*/
/*<ОБОЛОЧКА>==================================================================================================================================================================================================================*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

/*<ОСНОВНАЯ СЕТКА>==================================================================================================================================================================================================================*/
.container {
  width: 1200px;
  margin: 0px auto;
}

/*<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================*/
.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  display: none;
}

.header__row {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 965px) {
  .header__row {
    margin: 0 15px;
  }
}
@media (max-width: 850px) {
  .header__row {
    margin: 0 25px;
  }
}

.header__menu {
  width: 520px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 965px) {
  .menu__list {
    justify-content: space-around;
  }
}
.menu__list li a {
  color: #000;
  font-size: 16px;
}
@media (max-width: 965px) {
  .menu__list li a {
    font-size: 14px;
  }
}
@media (max-width: 850px) {
  .menu__list li a {
    font-size: 12px;
  }
}

.menu__list li:after {
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  background-color: #ff3c2d;
  margin: 5px 0 0 0;
  transition: width 0.3s ease-in-out;
}

.menu__list li:hover:after, .menu__list li:focus:after {
  width: 100%;
}

.header__button button {
  width: 120px;
  height: 35px;
  color: #fff;
  background-color: #ff3c2d;
  font-size: 16px;
}
@media (max-width: 935px) {
  .header__button button {
    font-size: 14px;
    width: 100px;
    height: 25px;
  }
}
@media (max-width: 850px) {
  .header__button button {
    font-size: 12px;
    width: 90px;
    height: 25px;
  }
}

.header__social {
  width: 115px;
  display: flex;
  justify-content: space-around;
}
.header__social a img {
  height: 16px;
}

.header__background {
  background: url("../../images/header_background.png") center/cover no-repeat;
  height: 510px;
}

.background__column {
  width: 600px;
  height: 508px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1080px) {
  .header__background-row {
    padding: 0 0 0 -10px;
  }
}

.background-row__big-text {
  width: 443px;
  padding: 0 0 30px 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 60px;
}
@media (max-width: 1470px) {
  .background-row__big-text {
    font-size: 50px;
  }
}
@media (max-width: 1326px) {
  .background-row__big-text {
    font-size: 40px;
  }
}
@media (max-width: 1194px) {
  .background-row__big-text {
    font-size: 30px;
    line-height: 1.1;
  }
}

.background-row__small-text {
  color: #fff;
  font-size: 18px;
  padding: 0 0 30px 0;
}
@media (max-width: 1470px) {
  .background-row__small-text {
    font-size: 16px;
  }
}
@media (max-width: 1326px) {
  .background-row__small-text {
    font-size: 14px;
  }
}
@media (max-width: 1194px) {
  .background-row__small-text {
    font-size: 12px;
  }
}

.background-row__button button {
  width: 215px;
  height: 45px;
  font-size: 18px;
  color: #fff;
  background-color: #ff3c2d;
}
@media (max-width: 1326px) {
  .background-row__button button {
    font-size: 14px;
    width: 175px;
  }
}
@media (max-width: 1194px) {
  .background-row__button button {
    font-size: 12px;
    width: 135px;
  }
}

.footer__row {
  background-color: #222;
}

.footer__three-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 0;
}

.address__header, .contacts__header {
  color: #626262;
  margin: 0 0 20px 0;
  text-align: center;
}

.address__header-inner, .contacts__inner {
  color: #fff;
  line-height: 2;
}

.address__header-text {
  display: flex;
  flex-direction: row;
}

.address__header-inner {
  margin-left: 10px;
}

/*<ОСНОВНОЙ БЛОК>===========================================================================================================================================================================================================*/
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.button-clk button:hover, .button-clk button:focus {
  background-color: #222;
  transition: 0.5s ease 0s;
}

#btn1:hover, #btn1:focus {
  background-color: #fff;
  color: #000;
  transition: 0.5s ease 0s;
}

#btn2:hover, #btn2:focus {
  background-color: #222;
  transition: 0.5s ease 0s;
}

html {
  scroll-behavior: smooth;
}

/*<SESSIONS>==================================================================================================================================================================================================================*/
.sessions__row {
  display: flex;
  flex-direction: row;
  margin: 100px 0 0 0;
}

/*<SESSIONS LEFT>==================================================================================================================================================================================================================*/
.session__left {
  background: url("../../images/section_1.png");
  width: 50%;
  display: flex;
  justify-content: center;
}

.session__left__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session__left__icon {
  padding: 80px 0 20px 0;
}

.session__left__header {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.session__left__text-1 {
  background: url("../../images/num_1-left.png") no-repeat;
  height: 58px;
  color: #fff;
  width: 50%;
  margin: 80px 0 0 0;
}

.session__left__text-2 {
  background: url("../../images/num_2-left.png") no-repeat;
  height: 58px;
  color: #fff;
  width: 50%;
}

.session__left__text-3 {
  background: url("../../images/num_3-left.png") no-repeat;
  height: 58px;
  color: #fff;
  width: 50%;
}

.left-text {
  margin-bottom: 36px;
  font-size: 18px;
  position: relative;
}
.left-text div {
  position: absolute;
  left: 70px;
  bottom: 22px;
}

.session-button {
  margin: 44px 0 0 0;
}
.session-button button {
  width: 215px;
  height: 45px;
  background-color: #ff3c2d;
  color: #fff;
  font-size: 18px;
}

/*<SESSIONS RIGHT>==================================================================================================================================================================================================================*/
.session__right {
  background: url("../../images/section_2.png");
  height: 722px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.session__right__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session__right__icon {
  padding: 80px 0 20px 0;
}

.session__right__header {
  color: #000;
  text-transform: uppercase;
  font-size: 30px;
}

.session__right__text-1 {
  background: url("../../images/num_1-right.png") no-repeat;
  height: 58px;
  color: #000;
  width: 50%;
  margin: 80px 0 0 0;
}

.session__right__text-2 {
  background: url("../../images/num_2-right.png") no-repeat;
  height: 58px;
  color: #000;
  width: 50%;
}

.right-text {
  margin-bottom: 36px;
  font-size: 18px;
  position: relative;
}
.right-text div {
  position: absolute;
  left: 70px;
  bottom: 22px;
}

/*<SERVICES>==================================================================================================================================================================================================================*/
.services {
  margin: 125px 0 0 0;
}

.services__header {
  font-size: 50px;
  text-align: center;
}

.services__categories {
  max-width: 1000px;
  margin: 45px auto;
}
.services__categories ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.services__categories .categories__item {
  color: #ababab;
  display: inline-block;
  cursor: pointer;
}
.services__categories .categories__item:after {
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  background-color: #ff3c2d;
  margin: 5px 0 0 0;
  transition: width 0.4s ease-in-out;
  color: #000;
}
.services__categories .categories__item:hover:after,
.services__categories .categories__item:focus:after {
  width: 100%;
}
.services__categories .categories__item:hover {
  color: #000;
}

.categories__item.active {
  color: #000;
}

.services__portfolio-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portfolio__column {
  margin: 0 0 40px 0;
}

.portfolio__photo {
  position: relative;
  display: inline-block;
}
.portfolio__photo .photo__text {
  width: 130px;
  height: 35px;
  background: rgba(68, 68, 68, 0.7);
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 320px;
  left: 0px;
}
.portfolio__photo .photo__text a {
  display: inline-block;
  color: #fff;
}
.portfolio__photo .photo__text i {
  color: #fff;
  padding: 0 0 0 10px;
}

.photo-inactive {
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.photo-active {
  overflow: visible;
  opacity: 1;
  transition: all 1s ease;
}

.portfolio__bottom img, .revies__bottom img {
  width: 100%;
}

/*<REVIEWS>==================================================================================================================================================================================================================*/
.reviews__row {
  background: url("../../images/reviews_background.png") no-repeat;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews__header-h1 {
  font-size: 50px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.reviews__header-h2 {
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

.slider__img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.slider__img img {
  width: 350px;
  height: 350px;
}

.slider__author {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.slider__name {
  color: #fff;
  font-size: 16px;
  margin: 0 0 0 0;
}

.slider__review {
  display: flex;
  flex-direction: row;
}

.slider__review-text {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  margin: 50px 0 0 -15px;
  line-height: 1.5;
}

.slick-prev, .slick-next {
  opacity: 0.3;
}

/*<BLOG>==================================================================================================================================================================================================================*/
.blog__header-h1 {
  font-size: 50px;
  text-align: center;
  margin: 95px 0 0 0;
}

.blog__header-h2 {
  font-size: 18px;
  text-align: center;
  margin: 30px 0 80px 0;
}

.blog__column-1, .blog__column-2, .blog__column-3 {
  background-color: #e3e3e3;
  height: 500px;
  width: 386px;
}

.blog__three-column, .blog__three-column-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog__three-column-2 {
  margin: 20px 0 120px 0;
  display: none;
}

.blog__column-text {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 10px 0 10px;
  font-weight: 900;
}

.blog__column-content {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog__column-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.blog__column-comments {
  display: flex;
  flex-direction: row;
}

.comment__text {
  padding-left: 10px;
  color: #ff3c2d;
}

.blog__column-date {
  color: #ababab;
}

.blog__button {
  text-align: center;
  margin-bottom: 60px;
}
.blog__button button {
  width: 215px;
  height: 45px;
  color: #fff;
  background-color: #ff3c2d;
  font-size: 18px;
  margin: 60px auto;
}

/*<POPUP>==================================================================================================================================================================================================================*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.popup__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.active {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  background-color: #555;
  color: #fff;
  max-width: 800px;
  padding: 50px 100px;
  position: relative;
}

.form * {
  line-height: 2;
  font-size: 14pt;
  outline: none;
}

.form label {
  margin: 50px 0 0 0;
}

.form input {
  margin: 10px 0 10px 0;
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border-color: #ccc;
  opacity: 0.6;
}

.form input:focus {
  box-shadow: 0 0 15px #ccc;
  opacity: 1;
}

.form__button {
  margin: 30px auto;
  width: 200px;
  height: 40px;
  background-color: #ff3c2d;
  color: #fff;
  font-size: 18px;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

#error {
  text-align: center;
  color: #f00;
  font-size: 14pt;
}